html {
    background-color: black;
}

body {
    background-color: black;
}
.jumbotron {
    font-size: 75px;
    color: white;
    background-color: black;
    border: 5px white;
    border-style: solid;
    margin: 5px;
    text-align: center;
}

#instructions {
    color: white;
    background-color: black;
    border: 5px white;
    border-style: solid;
    margin: 5px;
}

#crystalRow {
    /* float: left; */
    margin: 0;
    min-width: 150px;
    max-width: 25%;
}

.panel-default {
    margin: 10px;
    /* background-color: black; */
    float: left;
    height: 150px;
    width: 150px;
    text-align: center;
}